global
  daemon  
  group  haproxy
  log  /dev/log local0
  maxconn  20480
  pidfile  /var/run/haproxy.pid
  user  haproxy

defaults
  log  global
  maxconn  4096
  mode  tcp
  retries  3
  timeout  http-request 10s
  timeout  queue 1m
  timeout  connect 10s
  timeout  client 1m
  timeout  server 1m
  timeout  check 10s

listen haproxy.stats
  bind {{ ansible_ens192.ipv4.address }}:1993 
  mode http
  stats enable
  stats uri /

frontend web
  bind {{ lb.public_vip }}:80 transparent
  bind {{ lb.public_vip }}:443 ssl crt /etc/ssl/certs/STAR.{{env}}.haproxy.pem transparent
  redirect scheme https if !{ ssl_fc }
  mode http
  cookie SERVERID insert indirect nocache

  acl url_eos hdr(host) -i eos.{{env}}.epicure.com
  acl url_cetools hdr(host) -i cetools.{{env}}.rancher.epicure.ca
  acl url_emma hdr(host) -i {{env}}.epicure.com

  acl path_reporting path_beg /reporting
  
  use_backend eos_reporting if path_reporting url_eos
  use_backend eos if url_eos
  use_backend cetools if url_cetools
  use_backend emma if url_emma

  default_backend eos


backend eos
  mode http
  balance source
  option forwardfor
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  option httpchk HEAD / HTTP/1.1\r\nHost:localhost
{% for node in groups['rancher-host-ns'] %}
{% if hostvars[node]["ansible_distribution"]|lower == "debian" %}
  server {{ hostvars[node]["ansible_hostname"] }} {{ hostvars[node]["ansible_eth0"]["ipv4"]["address"] }}:3000 check 
{% elif hostvars[node]["ansible_distribution"]|lower == "ubuntu" %}
  server {{ hostvars[node]["ansible_hostname"] }} {{ hostvars[node]["ansible_ens160"]["ipv4"]["address"] }}:3000 check 
{% elif hostvars[node]["ansible_distribution"]|lower == "centos" %}
  server {{ hostvars[node]["ansible_hostname"] }} {{ hostvars[node]["ansible_ens192"]["ipv4"]["address"] }}:3000 check 
{% endif %}
{% endfor %}

backend eos_reporting
  mode http
  balance source
  option forwardfor
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
{% for node in groups['rancher-host-ns'] %}
{% if hostvars[node]["ansible_distribution"]|lower == "debian" %}
  server {{ hostvars[node]["ansible_hostname"] }} {{ hostvars[node]["ansible_eth0"]["ipv4"]["address"] }}:9000 check 
{% elif hostvars[node]["ansible_distribution"]|lower == "ubuntu" %}
  server {{ hostvars[node]["ansible_hostname"] }} {{ hostvars[node]["ansible_ens160"]["ipv4"]["address"] }}:9000 check 
{% elif hostvars[node]["ansible_distribution"]|lower == "centos" %}
  server {{ hostvars[node]["ansible_hostname"] }} {{ hostvars[node]["ansible_ens192"]["ipv4"]["address"] }}:9000 check 
{% endif %}
{% endfor %}

backend cetools
  mode http
  balance source
  option forwardfor
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  option httpchk HEAD / HTTP/1.1\r\nHost:localhost
{% for node in groups['rancher-host-ns'] %}
{% if hostvars[node]["ansible_distribution"]|lower == "debian" %}
  server {{ hostvars[node]["ansible_hostname"] }} {{ hostvars[node]["ansible_eth0"]["ipv4"]["address"] }}:1340 check 
{% elif hostvars[node]["ansible_distribution"]|lower == "ubuntu" %}
  server {{ hostvars[node]["ansible_hostname"] }} {{ hostvars[node]["ansible_ens160"]["ipv4"]["address"] }}:1340 check 
{% elif hostvars[node]["ansible_distribution"]|lower == "centos" %}
  server {{ hostvars[node]["ansible_hostname"] }} {{ hostvars[node]["ansible_ens192"]["ipv4"]["address"] }}:1340 check 
{% endif %}
{% endfor %}


# do we need this?
backend es_rest 
  balance roundrobin
  server nsdemma1 nsdemma1.local.epicure.ca:9200 check
   
# do we need this?
backend es_web
  balance roundrobin
  server nsdemma1 nsdemma1.local.epicure.ca:3000 check

backend emma
  mode http
  balance source
  option forwardfor
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  option httpchk HEAD / HTTP/1.1\r\nHost:localhost
{% for node in groups['rancher-host-ns'] %}
{% if hostvars[node]["ansible_distribution"]|lower == "debian" %}
  server {{ hostvars[node]["ansible_hostname"] }} {{ hostvars[node]["ansible_eth0"]["ipv4"]["address"] }}:3001 check 
{% elif hostvars[node]["ansible_distribution"]|lower == "ubuntu" %}
  server {{ hostvars[node]["ansible_hostname"] }} {{ hostvars[node]["ansible_ens160"]["ipv4"]["address"] }}:3001 check 
{% elif hostvars[node]["ansible_distribution"]|lower == "centos" %}
  server {{ hostvars[node]["ansible_hostname"] }} {{ hostvars[node]["ansible_ens192"]["ipv4"]["address"] }}:3001 check 
{% endif %}
{% endfor %}


