#------------------------------------------------------------------------------#
#                   OFFICIAL DEBIAN REPOS                    
#		generated from: https://debgen.simplylinux.ch/generate.php
#------------------------------------------------------------------------------#

###### Debian Main Repos
deb http://ftp.ca.debian.org/debian/ {{ ansible_distribution_release }} main contrib 
deb-src http://ftp.ca.debian.org/debian/ {{ ansible_distribution_release }} main contrib 

###### Debian Update Repos
deb http://security.debian.org/ {{ ansible_distribution_release }}/updates main contrib 
deb http://ftp.ca.debian.org/debian/ {{ ansible_distribution_release }}-proposed-updates main contrib 
deb-src http://security.debian.org/ {{ ansible_distribution_release }}/updates main contrib 
deb-src http://ftp.ca.debian.org/debian/ {{ ansible_distribution_release }}-proposed-updates main contrib 
