
{% if hostvars[inventory_hostname]['ansible_default_ipv4']['address'] %}
127.0.0.1 {{ ansible_hostname}}.{{ dns_suffix }} {{ ansible_hostname }} localhost
{% endif %}

{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}  {{ hostvars[inventory_hostname]['ansible_hostname'] }}.{{ hostvars[inventory_hostname]['dns_suffix'] }}  {{ hostvars[inventory_hostname]['ansible_hostname'] }}
